body {
    background-color: #557d96;
}


.mid-width {
    background-color: white;
}

.height-25percent {
    height: 25%;
}

.width-100percent {
    width: 100%;
}


/*-------------Start--------------*/
/* side bar*/
.right-sidebar {
    float: right;
    width: 20%;
    height: 100%;
    overflow: hidden;
    padding: 20px 10px 20px;
}

.left-sidebar {
    float: left;
    width: 15%;
    overflow: hidden;
    padding: 20px 10px 20px;
}

/*---------------END---------------*/
