


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/



/* CREATE OR EDIT form STYLES (working and tested)*/

h3.heading-of-create-edit {
    text-align: center;
    margin-top: 3px;
    font-size: 2em;
    color: darkslategray;
}

div.create-edit-whole {
}

div.data-entry-body {
    margin-left: 10px;
}

    div.data-entry-body table {
        border-collapse: collapse;
        /*width: 100%;*/
    }

    div.data-entry-body tr {
        vertical-align: top;
        width: 100%;
        padding: 10px 0;
    }

     td.data-type {
        width: 170px;
        padding: 10px 0;
        display: inline-block;
    }


    td.data-value {
        padding: 10px 0;
        /*display: inline-block;*/
    }
    /*div.data-entry-body td.data-entry {
        padding: 10px 0;
        display: inline-block;
    }*/

     div.save-div {
        padding: 10px 0;
        margin-left: 190px;
    }

div.data-entry-section {
    margin-left: 15px;
}

div.data-entry-section-heading {
    font-weight: 700;
}

/*Temp delete this after updating the respective classs name in ui*/
div.data-entry-heading {
    font-weight: 700;
}
/*eend*/

div.data-entry-section-body {
    margin-left: 20px;
    /*margin: 0 20px 0;*/
}

div.data-entry-body div.data-entry-section hr {
    border: none;
    background-color: darkgray;
    height: 1px;
}
/*div.data-entry-section hr {
    border: none;
    background-color: darkgray;
    height: 1px;
}*/
div.data-entry-section-heading hr {
     border: none;
    background-color: darkgray;
    height: 1px;
}

/* END of create edit form styles*/
















/*


.mid-width {
    background-color: white;
}

.height-25percent {
    height: 25%;
}

.width-100percent {
    width: 100%;
}*/


/*-------------Start--------------*/
/* side bar*/
.right-sidebar {
    float: right;
    width: 20%;
    height: 100%;
    overflow: hidden;
    padding: 20px 10px 20px;
}

.left-sidebar {
    float: left;
    width: 15%;
    overflow: hidden;
    padding: 20px 10px 20px;
}

/*---------------END---------------*/
