

/*v2.0 used BELOW */
/*option-div is the div which contains "edit", "delete","view" ,"Enrol" etc. buttons */
.option-div {
    text-align: center;
}

    .option-div a {
        margin: 6px 4px;
        padding: 5px 15px;
        height: auto;
        /*color: #393939;*/
        color: #303882;
        /*font-family: Arial Tahoma;*/
        font-size: 1.0em;
        text-decoration: none;
        background-color: transparent;
        -webkit-border-radius: 5px;
        min-width: 80px;
        /*border: 1px solid lightgrey;*/
        /*border-bottom: 2px solid lightgrey;*/
    }

        .option-div a:hover {
            color: black;
            font-weight: 400;
            text-decoration: underline;
            background-color: transparent;
            /*background-color: #f5f5f5;*/
        }

        .option-div a:active {
            color: blueviolet;
            text-decoration: underline;
        }

/*LInks*/
.link, .link:visited {
    /*blue*/
    /*color: #393939;*/
    font-size: 1.0em;
    height: auto;
    /*color: #393939;*/
    color: #303882;
    /*font-family: Arial Tahoma;*/
    font-size: 1.0em;
    text-decoration: none;
    background-color: transparent;
    -webkit-border-radius: 5px;
    min-width: 80px;
}

    .link:hover {
        color: black;
        font-weight: 400;
        text-decoration: underline;
        background-color: transparent;
        /*color: black;*/
        /*background-color: #f5f5f5;
        font-weight: 400;
        text-decoration: underline;*/
    }

    .link:active {
        color: blueviolet;
        text-decoration: underline;
    }



/*LInks that are outer of content... i.e .they are not in content.. they are menu*/
.link-outer, .link-outer:visited {
    font-size: 1.0em;
    height: auto;
    color: #3f3f3f;
/*#303882;*/
    /*font-family: Arial Tahoma;*/
    font-size: 1.0em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    border: 1px solid lightgray;
    padding: 8px 15px;

    background: lightgray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, lightgray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, lightgray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, lightgray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, lightgray); /* Standard syntax */

    min-width: 80px;
}

    .link-outer:hover {
        color: black;
        font-weight: 400;
        /*text-decoration: underline;*/
        text-decoration: none;
        background: lightgray;
        border: 1px solid lightgray;
    }

    .link-outer:active {
        color: blueviolet;
        text-decoration: underline;
    }

/*link-button*/
.link-button {
    margin: 6px 4px;
    padding: 7px 10px;
    display: inline-block;
    height: auto;
    color: #393939;
    font-family: Arial Tahoma;
    font-size: 1.0em;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid lightgrey;
    -webkit-border-radius: 5px;
    width: auto;
    /*min-width: 80px;*/
    border-bottom: 2px solid lightgrey;
    /*border-right: 2px solid lightgrey;*/
}

    .link-button:hover {
        /*color: black;*/
        font-weight: 400;
        text-decoration: underline;
        background-color: #f5f5f5;
    }

    .link-button:active {
        color: blueviolet;
        text-decoration: underline;
    }

/*v.2.0 used ABOVE*/

.list {
    /*-webkit-border-radius: 5px;*/
    border-collapse: collapse;
}

    .list a, .list a:visited {
        display: block;
        margin: -1px 4px 0;
        padding: 6px;
        border: 1px solid lightgrey;
        /*-webkit-border-radius: 5px;*/
        /*margin-top: -1px;*/
        color: #393939;
        text-decoration: none;
        /*background-color: lightgray;*/
        /*-webkit-border-radius: 5px;*/
    }

        .list a:hover {
            background-color: #f5f5f5;
            color: black;
        }

.list-datalist {
    /*-webkit-border-radius: 5px;*/
    border-collapse: collapse;
}

    .list-datalist a, .list-datalist a:visited {
        display: block;
        margin: -3px 4px 0;
        padding: 6px;
        border: 1px solid lightgrey;
        /*-webkit-border-radius: 5px;*/
        color: #393939;
        text-decoration: none;
        /*background-color: lightgray;*/
        /*-webkit-border-radius: 5px;*/
    }

        .list-datalist a:hover {
            background-color: #f5f5f5;
            color: black;
        }




/*for only dashboard*/

.list-dark {
    /*-webkit-border-radius: 5px;*/
    border-collapse: collapse;
}

    .list-dark a, .list-dark a:visited {
        display: block;
        margin: -1px 4px 0;
        padding: 6px;
        border: 1px solid lightgrey;
        /*-webkit-border-radius: 5px;*/
        /*margin-top: -1px;*/
        color: #393939;
        text-decoration: none;
        /*background-color: lightgray;*/
        /*-webkit-border-radius: 5px;*/
    }

        .list-dark a:hover {
            background-color: white; /*#f5f5f5;*/
            color: black;
        }

.list-dark-datalist {
    /*-webkit-border-radius: 5px;*/
    border-collapse: collapse;
}

    .list-dark-datalist a, .list-dark-datalist a:visited {
        display: block;
        margin: -3px 4px 0;
        padding: 6px;
        border: 1px solid lightgrey;
        /*-webkit-border-radius: 5px;*/
        color: #393939;
        text-decoration: none;
        /*background-color: lightgray;*/
        /*-webkit-border-radius: 5px;*/
    }

        .list-dark-datalist a:hover {
            background-color: white; /*#f5f5f5;*/
            color: black;
        }
/* ENd of "for only dashboard" */






/*Used below --applied to the items of all list in the entire website*/

.list-item, .list-item:visited {
    display: block;
    margin: -1px 4px 0;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    /*margin-top: -1px;*/
    /*color: #393939;*/
    color: #303882;
    text-decoration: none;
    /*background-color: lightgray;*/
    /*-webkit-border-radius: 5px;*/
}

    .list-item:hover {
        background-color: #f7f7f7;
        color: black;
    }


.list-item-datalist, .list-item-datalist:visited {
    display: block;
    margin: -3px 4px 0;
    padding: 6px;
    border: 1px solid lightgrey;
    /*margin-top: -1px;*/
    color: #303882;
    /*color: #393939;*/
    text-decoration: none;
    /*background-color: lightgray;*/
    /*-webkit-border-radius: 5px;*/
}

    .list-item-datalist:hover {
        background-color: #f5f5f5;
        color: black;
    }

/*Used above*/

/*Used below*/

.list-item-body {
    display: block;
    /*margin: -1px 4px 0;*/
    padding: 6px;
    border: 1px solid lightgrey;
    /*margin-top: -1px;*/
    color: #5f5f5f;
    font-weight: 400;
    text-decoration: none;
    /*background-color: lightgray;*/
    /*-webkit-border-radius: 5px;*/
}

    .list-item-body:hover {
        background-color: #f5f5f5;
    }

.list-item-description {
    /*margin: 2px 5px;
    color: #5f5f5f;*/
    color: #808080;
    font-size: 1em;
}
/*Used above*/






/*Heading*/


.list-item-heading, .list-item-heading:visited {
    font-size: 1em;
    /*color: #393939;*/
    /*color: #7a91bd;*/
    /*color: #3333cc;*/
    /*color: #374195;*/
    color: #303882;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    /*background-color: #f0fff0;*/
    /*//font-size: 2em;*/
}

    .list-item-heading:hover {
        color: black;
        text-decoration: underline;
        font-weight: 400;
    }

    .list-item-heading:active {
        color: darkblue;
    }


.list-item-heading-option {
    font-size: 14px;
    margin-left: 10px;
    color: #393939;
}

    .list-item-heading-option a {
        color: #393939;
        text-decoration: underline;
    }

        .list-item-heading-option a:hover {
            color: black;
            font-weight: bold;
            background-color: #f5f5f5;
            text-decoration: underline;
        }



/*check-box horizontal*/

.checkbox-horizontal {

}
.checkbox-horizontal td {
    padding-left: 10px;
}
