body {
}

.auto-st2 {
    margin: 6px 4px;
    padding: 5px;
    border: 1px solid lightgrey;
    -webkit-border-radius: 5px;
}

    .auto-st2:hover {
        background-color: #e4f5fa;
    }

.auto-st2-backcolor-white {
    margin: 6px;
    padding: 5px;
    border: 1px solid lightgrey;
    -webkit-border-radius: 5px;
    background-color: white;
    clear: both;
}

    .auto-st2-backcolor-white:hover {
        background-color: #e4f5fa;
    }

.auto-st2-inline-block {
    display: inline-block;
    /*border: 1px solid lightgrey;*/
    /*-webkit-border-radius: 5px;*/
}

    .auto-st2-inline-block:hover {
        color: darkorange;
    }

.auto-st2-white {
}

    .auto-st2-white:hover {
        background-color: white;
    }

.auto-st2-hover-display-dark {
}

    .auto-st2-hover-display-dark:hover {
        background-color: #ededc9;
    }

.auto-st2-remove-button {
}

    .auto-st2-remove-button:hover {
        background-color: pink;
        text-decoration: underline;
    }

.auto-st2-no-margin {
}

    .auto-st2-no-margin:hover {
        background-color: #e4f5fa;
    }

.auto-st2-border-no-margin {
    margin: 6px;
    border: 1px solid lightgrey;
    -webkit-border-radius: 5px;
}

    .auto-st2-border-no-margin:hover {
        background-color: #e4f5fa;
    }

.auto-st2-border-zero-margin {
    margin: 1px;
    border: 1px solid lightgrey;
    -webkit-border-radius: 5px;
}

    .auto-st2-border-zero-margin:hover {
        background-color: #e4f5fa;
    }
