/*div {
            /*font-family: Helvetica, Verdana, Geneva,Tahoma, sans-serif;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }*/

body {
    color: #393939;
    font-family: Roboto;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    /*,Helvetica,Arial,sans-serif;*/
    /*font-size: 0.9em;*/
}

.roboto-thin {
    font-weight: 100;
}

.roboto-light {
    font-weight: 200;
}

.roboto-regular {
    font-weight: 300;
}

.roboto-medium {
    font-weight: 400;
}

.roboto-bold {
    font-weight: 500;
}

ul {
}

    ul li {
        padding: 5px 0;
    }

.inline {
    display: inline;
}

hr {
    /*display: none;*/
    border: none;
    height: 5px;
}

img {
    border: none;
}

h3.heading-of-listing {
    text-align: left;
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 400;
    color: darkslategray;
}

h3.heading-of-display {
    text-align: left;
    margin-top: 3px;
    font-size: 2em;
    font-weight: 400;
    color: darkslategray;
}

/*body of sections*/
div.data-entry-section {
    margin-left: 5px;
}

/*.data-entry-section-link-listing a {
    margin-left: 10px;
    display: block;
    color: darkslategrey;
    padding-top: 4px;
    padding-bottom: 4px;
    
    line-height: 20px;
    text-decoration: none;
}

    .data-entry-section-link-listing a:hover {
        background-color: #f1f1f1;
        color: darkslategrey;
        
    }

    .data-entry-section-link-listing a:active {
        background-color: #191970;
        color: white;
       
    }*/


div.data-entry-section-heading {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 20px;
}

    div.data-entry-section-heading hr {
        border: none;
        background-color: #e6e6e6;
        height: 1px;
    }



div.data-entry-section-body {
    /*margin-left: 10px;*/
}

div.data-entry-section-no-margin {
    margin-left: 1px;
    /*margin: 0 20px 0;*/
}

div.data-entry-body div.data-entry-section hr {
    border: none;
    background-color: darkgray;
    height: 1px;
}

/*end of body of sections*/



.sitemap-items {
    text-rendering: optimizeLegibility;
    margin: 6px 5px;
    padding: 5px 3px;
    /*border: 1px solid lightgrey;*/
    -webkit-border-radius: 5px;
    /*background-color: white;*/
    clear: both;
    text-align: center;
}

    .sitemap-items:hover {
        /*background-color: #e4f5fa;*/
        /*background-color: white;*/
    }

/*----------Check ----------*/

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h3 {
    font-size: 1.2em;
}
/*-------------------------check end*/



/*LInks*/
.link, .link:visited {
    /*blue*/
    color: #393939;
    text-decoration: none;
    background-color: transparent;
    font-family: Arial Tahoma;
    height: auto;
    font-size: 1.0em;
}

    .link:hover {
        /*darkorange*/
        background-color: #f5f5f5;
        color: black;
        text-decoration: underline;
    }

    .link:active {
        color: blueviolet;
        text-decoration: underline;
    }

/*link white*/
.link-white, .link-white:visited {
    color: #393939;
    text-decoration: none;
    display: inline-block;
}

    .link-white:hover {
        color: black;
        font-weight: 500;
        text-decoration: underline;
        display: inline-block;
    }

    .link-white:active {
        color: blueviolet;
        text-decoration: underline;
        display: inline-block;
    }

/*link grey*/
.link-grey, .link-grey:visited {
    color: #858575;
    text-decoration: none;
    display: inline-block;
}

    .link-grey:hover {
        /*color: white;
        font-weight: 700;
        text-decoration: underline;*/
        display: inline-block;
    }

    .link-grey:active {
        color: blueviolet;
        text-decoration: underline;
        display: inline-block;
    }




/*large boxes*/

.box {
    text-align: center;
    width: 200px;
    background-color: #f8f8f8;
    padding: 10px 5px;
    border: 1px solid lightgrey;
}


ul.bottom-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul.bottom-links li {
    display: inline-block;
    margin: 0 10px;
}