/*body is implemented in MasterStyles.css*/
/*body {
    background-color: #f5f5f5;
    margin: 0 auto;
    width: 90%;
}*/

.body-white {
    background-color: white;
}

.body-grey {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

/*534f60*/
.right-width {
    width: 250px;
    /*background-color: #f7f7f7;*/
    color: lightgrey;
}
/*width: 180px;*/
.left-width {
    width: 220px;
    background-color: #f5f5f5;
    color: lightgrey;
}

.sitemap-panel {
    padding: 5px 0;
    background-color: #f1f1f1;
    color: lightgrey;
}

.mid-width {
    padding: 0 2px;
    color: #393939;
    /*background-color: white;*/
    /*width: 64%;#f1f1f1*/
}


.menu-div {
    color: white;
    height: 35px;
    /*position: fixed;*/
    top: 0;
    left: 0;
    border-bottom: white solid 1px;
    /*-webkit-border-radius: 2px;*/
    /*background-color: darkslategray;*/
    background-color: #8a81a3;
    text-align: left;
    z-index: 10;
    vertical-align: central;
    padding: 7px 5px 2px;
    clear: both;
    width: 100%;
}

.module-whole {
    margin-bottom: 15px;
    padding: 3px;
}

.modules-title {
    /*color: white;*/
    /*color: darkslategray;*/
    color: #595959;
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 5px;
}

    .modules-title:hover {
        /*text-decoration: underline;*/
    }

div.modules-heading {
    text-align: left;
    padding: 5px;
    -webkit-border-radius: 5px;
}

.modules-body {
    overflow: auto;
    background-color: #f1f1f1;
    padding: 5px;
    /*font-family: arial, verdena;*/
    font-size: 1em;
}



#bodyDiv {
    /*background-color: white;*/
    padding: 5px;
}

.table-whole {
    width: 100%;
    vertical-align: top;
    border-spacing: 1px;
    /*margin-top: 20px;*/
}

.body-whole {
    /*margin-top: 48px;*/
    /*margin-top: 75px;*/
}

.dark-background {
    background-color: #f1f1f1;
}



/*left panel lists*/
.list-unmargined {
    /*margin: 6px 4px;*/
    /*padding: 6px;
    border: 1px solid lightgrey;*/
    -webkit-border-radius: 0px;
    border-collapse: collapse;
}

    .list-unmargined a {
        display: block;
        border: 1px solid lightgrey;
        margin-top: -1px;
        /*color: #393939;*/
        color: #303882;
        text-decoration: none;
        padding: 6px 6px 6px 10px;
    }

        .list-unmargined a:hover {
            background-color: white;
            text-decoration: underline;
            color: black;
        }

        .list-unmargined a:active {
            color: blue;
            text-decoration: underline;
        }

/*course menu*/
.course-menu {
    /*margin: 6px 4px;*/
    /*padding: 6px;
    border: 1px solid lightgrey;*/
    -webkit-border-radius: 5px;
    border-collapse: collapse;
}


.course-menu-current-earlier {
    display: block;
    border: 1px solid lightgrey;
    margin-top: -1px;
    color: #393939;
    text-decoration: none;
    padding: 6px;
}

    .course-menu-current-earlier:hover {
        background-color: white;
        color: black;
    }

    .course-menu-current-earlier:active {
        text-decoration: underline;
    }

.course-menu-subjct-class {
    display: block;
    border: 1px solid lightgrey;
    margin-top: -1px;
    color: #393939;
    text-decoration: none;
    padding: 6px 6px 6px 20px;
    font-family: "Helvetica Neue",monospace, Helvetica, Arial, sans-serif;
}

    .course-menu-subjct-class:hover {
        background-color: white;
        color: black;
    }

    .course-menu-subjct-class:active {
        text-decoration: underline;
    }


/*course menu end*/

.list-unmargined-selected-item {
    background-color: white;
    color: black;
}

.course-menu-selected-item {
    background-color: white;
    color: black;
    display: block;
    border: 1px solid lightgrey;
    margin-top: -1px;
    text-decoration: none;
    padding: 6px 6px 6px 20px;
}



/*lists in body*/

.list-inside-body {
    /*margin: 6px 4px;*/
    /*padding: 6px;
    border: 1px solid lightgrey;*/
    -webkit-border-radius: 5px;
    border-collapse: collapse;
}

    .list-inside-body a {
        display: block;
        padding: 6px;
        border-bottom: 1px solid lightgrey;
        margin-top: -1px;
        color: #393939;
        text-decoration: none;
    }

        .list-inside-body a:hover {
            background-color: #f1f1f1;
            color: black;
        }

        .list-inside-body a:active {
            text-decoration: underline;
        }

.list-inside-body-selected-item {
    background-color: white;
    color: black;
}



/*Recent -- global*/


/*background-color: #e4f5fa;*/
/*.auto-st2 {
    margin: 6px 4px;
    padding: 5px;
    border: 1px solid lightgrey;
    -webkit-border-radius: 5px;
}

    .auto-st2:hover {
        background-color: #f5f5f5;
    }*/
/*.list {*/
/*margin: 6px 4px;*/
/*padding: 6px;
    border: 1px solid lightgrey;*/
/*-webkit-border-radius: 5px;*/
/*border-collapse: collapse;*/
/*}*/



.list-item-file-listing, .list-item-file-listing:visited {
    display: block;
    margin: -1px 0 0;
    /*padding: 6px;*/
    /*border: 1px solid lightgrey;*/
    /*margin-top: -1px;*/
    color: #393939;
    text-decoration: none;
    /*background-color: lightgray;*/
    /*-webkit-border-radius: 5px;*/
}

    .list-item-file-listing:hover {
        background-color: #f5f5f5;
        color: black;
    }

/*fontsize=1em ; font-weight:400;
    used in link*/
.list-item-heading-normal, .list-item-heading-normal:visited {
    font-size: 1.0em;
    color: #393939;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    display: block;
    margin: -1px 4px 0;
    padding: 6px;
    border: 1px solid lightgrey;
    /*background-color: #f0fff0;*/
    /*//font-size: 2em;*/
}

    .list-item-heading-normal:hover {
        text-decoration: underline;
        font-weight: 500;
        background-color: #f5f5f5;
        color: black;
    }

    .list-item-heading-normal:active {
        color: darkblue;
    }





.span-edit-delete a {
    padding: 0 3px;
    background-color: transparent;
}

    .span-edit-delete a:hover {
        background-color: #f1f1f1;
    }

    .span-edit-delete a img {
        border: 0px;
        border-width: 0;
        width: 14px;
        height: 14px;
    }

.span-file-folder-add-icons a {
    padding: 0 3px;
    background-color: transparent;
}

    .span-file-folder-add-icons a:hover {
        background-color: #f1f1f1;
    }

    .span-file-folder-add-icons a img {
        border: 0px;
        border-width: 0;
        width: 20px;
        height: 20px;
    }

.list-item-option {
    margin-left: 10px;
}

    .list-item-option a {
        padding: 0 5px;
        display: inline-block;
        text-decoration: none;
        color: #393939;
    }

        .list-item-option a:hover {
            background-color: lightgray;
            text-decoration: underline;
            color: black;
        }



.gridview {
    margin: 0 auto;
    border: 1px solid lightgrey;
}

/*Used v2.0*/
.highlight-row-even {
    background-color: white;
    border-bottom: 1px solid #C0C0FF;
    margin-top: 1px;
}

    .highlight-row-even:hover {
        background-color: #f1f1f1;
        border: 1px solid blue;
    }

.highlight-row-odd {
    background-color: #f8f8f8;
    border-bottom: 1px solid #C0C0FF;
    margin-top: 1px;
}

    .highlight-row-odd:hover {
        background-color: #f0f0f0;
        border: 1px solid blue;
    }


/*<HeaderStyle BackColor="#557d96" Font-Bold="True" ForeColor="White"#f5f5f5; />*/
.data-list-header {
    background-color: #f1f1f1;
    font-weight: 300;
    font-size: 1.1em;
    color: #393939;
    border: 1px solid lightgrey;
    border-bottom: 2px Solid darkgray;
    text-align: left;
    line-height: 25px;
    margin-bottom: 3px;
    padding: 20px 0;
}

.data-list-footer {
    background-color: #f1f1f1;
    color: #393939;
    font-weight: bold;
    border: 1px solid lightgrey;
    border-top: 2px solid darkgray;
}

    .data-list-footer a {
        border: 1px solid gray;
        margin: 0 5px;
        padding: 2px 7px;
        background-color: #fffaf0;
    }

        .data-list-footer a:hover {
            background-color: lightgray;
            text-decoration: none;
        }

.background-overall {
    background-color: #f1f1f1;
    color: #393939;
    border: 1px solid lightgrey;
}


.list-heading-option {
    font-size: 16px;
    margin-left: 10px;
    color: #393939;
}

    .list-heading-option a, .list-heading-option a:visited {
        color: #393939;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        padding: 0 6px;
    }

        .list-heading-option a:hover {
            color: black;
            font-weight: 500;
            text-decoration: underline;
            display: inline-block;
            background-color: #f1f1f1;
        }

        .list-heading-option a:active {
            color: darkviolet;
        }


/*.link-dark {
    color: #393939;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    padding: 0 6px;
    font-weight: 400;
}

    .link-dark:hover {
        color: black;
        font-weight: 500;
        text-decoration: underline;
        display: inline-block;
        background-color: #f1f1f1;
    }
    

    .link-dark:active {
        color: darkviolet;
    }*/

.link-folder {
    color: #393939;
    display: inline-block;
    font-size: 16px;
    padding: 3px 3px 0;
    font-weight: 400;
    vertical-align: central;
    text-decoration: none;
}

    .link-folder:hover {
        color: black;
        font-weight: 500;
        text-decoration: underline;
        display: inline-block;
        background-color: #f1f1f1;
        text-decoration: underline;
        /*border: 1px solid lightgrey;*/
    }
    /*#f5f5f5;*/

    .link-folder:active {
        color: darkviolet;
    }

/*This is used in 'manage programs' where the links are bold*/
.link-dark-bold {
    color: #393939;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 0 6px;
    font-weight: 400;
}

    .link-dark-bold:hover {
        color: black;
        font-weight: 400;
        text-decoration: underline;
        display: inline-block;
        background-color: #f1f1f1;
    }
    /*#f5f5f5;*/

    .link-dark-bold:active {
        color: darkviolet;
    }

.label-dark-bold {
    color: #393939;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 0 6px;
    font-weight: 400;
}

/*this is same as link-dark but is used in places where background is dark so we need hover back-color as white
    uses: in course listing, for link(Add course)*/
.link-dark-for-dark-backcolor {
    color: #393939;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 0 6px;
    font-weight: 400;
}

    .link-dark-for-dark-backcolor:hover {
        color: black;
        font-weight: 500;
        text-decoration: underline;
        display: inline-block;
        background-color: white;
    }
    /*#f5f5f5;*/

    .link-dark-for-dark-backcolor:active {
        color: darkviolet;
    }

.link-light, .link-light:visited {
    color: #858575;
    text-decoration: none;
    display: inline-block;
}

    .link-light:hover {
        color: #393939;
        display: inline-block;
    }

    .link-light:active {
        display: inline-block;
    }

.link-black {
    color: black;
}

.link-dark {
    color: black;
}

    .link-dark:hover {
        background-color: lightgray;
    }
