



td.data-type {
    width: 170px;
    padding: 10px 0;
    display: inline-block;
}

td.data-type-bold {
    width: 170px;
    padding: 10px 0;
    display: inline-block;
    font-weight: 600;
}


td.data-value {
    padding: 10px 0;
    /*display: inline-block;*/
}

td.data-value-bold {
    padding: 10px 0;
    font-weight: 600;
}

.save-div {
    padding: 10px 0;
    margin-left: 184px;
}

    .save-div input {
        width: 100px;
        margin-right: 10px;
    }

/*.save-div input {
        margin: 6px 4px;
        padding: 5px;
        height: auto;
        color: #393939;
        font-family: Arial Tahoma;
        font-size: 1.0em;
        text-decoration: none;
        background-color: transparent;
        border: 1px solid lightgrey;
        -webkit-border-radius: 5px;
        min-width: 80px;
        border-bottom: 2px solid lightgrey;
    }

        .save-div input:hover {
            color: black;
            text-decoration: underline;
            background-color: #f5f5f5;
        }

        .save-div input:active {
            color: blueviolet;
            text-decoration: underline;
        }*/

div.data-entry-section-body table {
    margin: 0 5px 0;
}

div.data-entry-section-body tr {
    vertical-align: top;
}

div.data-entry-section-body td {
    vertical-align: top;
}
